{% extends "base.html" %}

{% block page_title %}Blog posts | {% endblock %}

{% block page_content %}
<h1>Blog Posts</h1>
<ul>
    {% for post in mayrok %}
    <!--NICE AGRS ..check django official doc for URL tag-->
    <li><a href="{% url "post-details" post.id %}">{{ post.title }}</a>
    	<a href="{% url "update-form" slug=post.slug %}"> UPDATE </a>
    	<a href="{% url "post-delete" slug=post.slug %}"> DELETE </a></li>
    {% empty %}
    <li>Sorry, no posts yet. Check back soon!</li>
    {% endfor %}
</ul>
{% endblock %}
